body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

canvas {
    width: 700px;
    height: 700px;
    border: solid;
    background: black;
}

<<<<<<< HEAD





.ryan{

    background-attachment: fixed;

=======
.thing {
    width: 20px
>>>>>>> 3b14bcc1f7a249c89a1a958ab86beb75b16b4df4
}