
@font-face {
    font-family: 'Lines';
    src: url("2-Lines.otf"); 
}

* {
    font-family: 'Lines';
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#score, #lives {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    width: auto;
    height: 40vh;
}

h1 {  
    margin: 0;
    font-size: 10vh;
    color: red;
}

h3 {
    margin: 0;
    /* font-size: 10vh; */
    color: red;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    text-align: center;
    font-size: 6vh;
}

body {
    background-color: blue;
}

canvas {
    display: flex;
    flex: center;
    flex-shrink: 1;
    flex-direction: row;
    width: 700px;
    height: 700px;
    border: solid;
    background-color: black;
    margin: 0 2%;
}

#gameBoard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#header {
    text-align: center;
}

#middleRow {
    width: 100vw;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }